@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background: url(images/bg-stars.svg),
    linear-gradient(hsl(234, 17%, 12%), hsl(265, 35%, 24%));
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  padding: 200px 0 0;
}

.bg-hills {
  background: url(images/pattern-hills.svg);
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -3;
  bottom: 0;
}

.content {
  margin: auto;
}

.clock-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  width: 450px;
  margin: auto;
}
.clock-content {
  text-align: center;
}

.clock-content .box {
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-color: hsl(236, 21%, 26%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 7px 0 rgb(30, 33, 46);
}
.box span {
  font-size: 50px;
  color: hsl(345, 95%, 68%);
  font-weight: 700;
}
.clock-content .overlay {
  width: 100%;
  height: 50%;
  background-color: hsla(235, 20%, 33%, 0.452);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}
.center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translate(0, -5px);
  text-align: center;
}
.dot {
  background-color: rgb(29, 29, 29);
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.dot1 {
  transform: translateX(-5px);
}
.dot2 {
  transform: translateX(5px);
}
.clock-content p {
  color: hsl(237, 18%, 59%);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding-top: 20px;
}
.title {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.3rem;
}
.socmed-wrapper {
  width: max-content;
  margin: auto;
  display: flex;
  gap: 25px;
  margin-top: 300px;
}
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: cover;
  cursor: pointer;
}
.icon:hover {
  filter: invert(55%) sepia(48%) saturate(3143%) hue-rotate(311deg)
    brightness(102%) contrast(97%);
}
.fb {
  background-image: url(images/icon-facebook.svg);
}
.pinterest {
  background-image: url(images/icon-pinterest.svg);
}
.instagram {
  background-image: url(images/icon-instagram.svg);
}
